@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Professor: Nélio Alves - <strong>Projeto MVC ASP.NET Core</strong></p>
    <p><strong>Desenvolvido em forma de aprendizado:</strong> Guian Rocha</p>
</div>
